/* -------------------------------HEADER------------------------- */
*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom right, #9da4c8ca, #2d2e2fbe, rgba(99, 98, 112, 0.531), rgba(245, 241, 241, 0.638));
    overflow-x: hidden
    }
/* ------------------------------NAV----------------------- */


/* ------------------------------------- */
header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    transition: .3s ease-in;
    overflow: hidden;
    }

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(67, 67, 67);
    color: #ffffff;
    margin: auto;
    padding: 0 1rem;
    }
.titulo{
    font-size: 1.5rem;
    margin: .5rem;
    }
.imgTitulo{
    width: 45%;
    height: 10%;
}

.navbar-links ul{
    margin: 0;
    padding: 0;
    display: flex;
    }
.navbar-links li{
    list-style: none;
    }
.navbar-links li a{
    text-decoration: none;
    color: #ffffff;
    padding: 1rem;
    display: block;
    }
.navbar-links li:hover{
    background-color: rgb(107, 107, 107);
    transition: 2s;
    }
.menu-button{
    position: absolute;
    top:.75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    color:white;
    width: 30px;
    height: 21px;
    }
.menu-button .bar{
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

@media (max-width:800px){
    .menu-button{
        display: flex;
    }
    .navbar-links{
        display: none;
        width: 100%;
    }
    .navbar{
        flex-direction: column;
        align-items: flex-start;

    }
    .navbar-links ul{
        flex-direction: column;
        width: 100%;
    }
    .navbar-links li{
        text-align: center;

    }
    .navbar-links li a{
        padding: .5rem 1rem;
    }
    .navbar-links.active{
        display: flex;
    }
}


/* -----------------------------   html----------------------------- */
main{
    width: 100%;
    }

#about{
height: 100vh;
}

main section .sectionDiv3{
height: 100%;
}

footer{
    margin-bottom: 0;
    height: 100vh;
    width: 100%;
    padding: 5px 0px;
    clear: both;
    background: #286af0;
    text-align: center;
    color: #fff;
}
/* ---------------------------Home----------------------------- */
#home{
height: 100vh;
width: 100vw;
text-align: center;
justify-content: center;
}
.imgHome{
    position: absolute;
    top:-40%;
    left: 12%;
    width: 70%;
    height: auto;
}
.checklist-servicio{
    /* position:static; */
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    margin-left: 5%;
  }
.service{
    max-width:35%;
    height: 150px;
    margin-top: 30%;
    padding: 10px;
    border: 1px solid rgb(254, 254, 254);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, .15);
    backdrop-filter: blur(1px);
   
}
/* ------------------------- HOME ANIMATION-------------------------- */


.circles {
    position: static;
   top: 30%;
    left: 0;
    width: 100%;
    overflow: hidden;
}

.circles li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;

}

.circles li:nth-child(1) {
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2) {
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3) {
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5) {
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6) {
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7) {
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8) {
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9) {
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10) {
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}
/* -----------------------PRODUCT------------------------------- */
.galery{
    height: 100vh;
    position: relative;
}
/* -------H2 ANIMATION----- */
.h2productos{
    position: relative;
    top: 150px;
    left: 40%;
    color: #fffbf1;
        text-shadow: 0 20px 25px #2e2e31, 0 40px 60px #2e2e31;
        font-size: 2rem;
        font-weight: bold;
        text-decoration: none;
        letter-spacing:50px;
      
    
        transform: translateX(0%) translateY(0%);
}
.h2productos:before,
.h2productos:after {
    content: '';
    padding: .5em .1em;
    position: relative;
    left: 0%;
    width: 40%;
    top: 10%;
    display: block;
    border: 8px solid rgb(178, 178, 178);
    transform: translateX(0%) translateY(0%) rotate(0deg);
    animation: 10s infinite alternate ease-in-out tipsy;
}

.h2productos:before {
    border-color: #bababa #8d8d8d rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    z-index: 10;
}

.h2productos:after {
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #c9c9c9 #b7b7b7;
    box-shadow: 25px 25px 25px rgba(46, 46, 49, .8);
}
@keyframes tipsy {
    0%{
        transform: translateX(0%) translateY(0%) rotate(0deg);
    }
    100% {
        transform: translateX(0%) translateY(0%) rotate(360deg);
    }
}
/* ------------------------------------ */
.divProduct {
    width: 100%;
    max-width: 100vw;
    max-height: 100vh;
    margin: 10px 0 0px auto;
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill, 240px);
    gap: 0px;
    justify-content: center;
    object-fit: cover;
        }
        
        .divProduct .productos {
            position: relative;
            justify-items: center;
            text-align: center;
            margin: 10px;
            cursor: pointer;
            margin-top:140px;
            left: 50%;
            max-height: 100vh;
}

.divProduct .productos .titulo {
    font-size: 16px;
    font-weight: 600;   
}
.divProduct .productos .price {
    font-size: 1.5rem;
    font-weight: 600;
    transition: 1s;
     margin-top: -17%;
}
.divProduct .productos .titulo:hover,.divProduct .productos .price:hover {
color: rgb(66, 66, 66);
}

.divProduct .productos .poster {
    width: 100%;
    height: 200px;
    border-radius: 15px;
}

    

.paginacion {
    position: absolute;
    width: 20%;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px;
    margin-top: 0%;
    left: 50%;
}

.paginacion button {
    cursor: pointer;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 30px;
    width: 100px;
    background: #646464;
    color: #fff;
    border-radius: 100px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    transition: .3s ease all;
}

.paginacion button:hover {
    background: #282828;
}


/* ---------------------------------ABOUT------------------------- */

#about {
    position:relative;
    height: 100vh;
    width: 100vw;
    text-align: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, .15);
    backdrop-filter: blur(1px);
   
}
.aboutH2{
    position: relative;
        top: 100px;
        left: 0%;
        color: #fffbf1;
        text-shadow: 0 20px 25px #2e2e31, 0 40px 60px #2e2e31;
        font-size: 2rem;
        font-weight: bold;
        text-decoration: none;
        letter-spacing: 40px;
        border-bottom: 1px solid white;
}
 .sectionDiv2 {
    height: 100vh;
    width: 100vw;
    display: grid;
        grid-template-columns: repeat(auto-fill, 310px);
        gap: 50px;
        justify-content: center;
        object-fit: cover;
}
.aboutSer{
   margin-top:40%;
   max-width: 250px;
   font-size: 1.5re;
}
/* --------------------------  PROMOCIONES------------------------- */
#promos{
    width: 100vw;
    height: 100vh;
    text-align: center;
    justify-content: center;
}
.promoH2{
    position: relative;
    top:100px;
    left: 10%;
       color: #fffbf1;
        text-shadow: 0 20px 25px #2e2e31, 0 40px 60px #2e2e31;
        font-size: 2rem;
        font-weight: bold;
        text-decoration: none;
        letter-spacing: 40px;
        border-bottom: 1px solid white;
}
/* -------CAROUSEL----- */

.carousel {
    top:20%;
    max-width: 90vh;
    position: relative;
    margin:auto;
    left: 10%;
}


.divImg {
    display: none;
}
.imgCarousel{
    width: 400px;
    height: 450px;
    border-radius: 10%;
}


.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}


.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev{
    left: 0;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.text {
    color: #020101;
    font-size: 20px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}


.numbertext {
    color: #000000;
    font-size: 18px;
    padding: 8px 12px;
    position: absolute;
    top: 5px;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: rgb(8, 8, 8);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 1s ease;
}

.active,
.dot:hover {
    background-color: #1000bf;
}


.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* -------------------------FOOTER----------------- */










/* ---------------------MEDIA QUERIES------------------- */

 /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .imgTitulo {
    width:50% ;
    height: auto;
    }
/* --------HOME-------- */
#home{
    background-color: red;
    width: 100%;
}
.imgHome{
    top:10%
}
.checklist-servicio{
    display: grid;
    grid-template-columns: repeat(auto-fill, 150px);
    object-fit: cover;
    justify-content:left;
    width: 100vw;
    max-height: 60vh;

}
.service{
    position: relative;
    font-size: .7rem;
    max-width: 200px;
    padding: 15px;
    top: 200px;
    }
/* ----------------PRODUCTOS------------ */
.h2productos{
    font-size: 1rem;
    left: 5%;
    text-align: center;
    justify-content: center;
    letter-spacing: 20px;
}
.divProduct .productos {
    left: 0;
}
.divProduct {
grid-template-columns: repeat(auto-fill, 140px);
top:110px
}
.divProduct .productos {  
text-align: center;
margin: 10px;
cursor: pointer;
}
.divProduct .productos .poster {
height: 100px;
width: 80%;
}
.divProduct .productos .titulo {
    font-size: .8rem;
    font-weight: 300;
}
.divProduct .productos .price {
    font-size: 1rem;
    font-weight: 600;
    transition: 1s;
    margin-top: -17%;
}
.paginacion {
    margin-top: 30%;
    left: 40%;
}
/* ------------------ABOUT----------- */
.aboutH2 {
font-size: 1rem;
letter-spacing: 20px;
}
 .sectionDiv2 {
     height: 60vh;
     width: 100vw;
     display: grid;
     grid-template-columns: repeat(auto-fill, 300px);
     gap: 0px;
     margin-top:100px
     
 }
.aboutSer {
    max-width: 300px;
    margin: 0;
    font-size: .75rem;
}
/* -----------------PROMOCIONES---------------------- */
.promoH2 {
font-size: 1rem;
    left: 0%;
    text-align: center;
    justify-content: center;
    letter-spacing: 20px;
}
.carousel {
    left: 0%;
    margin:auto;
}
.imgCarousel {
    width:70%;
    height: 350px;
    border-radius: 10%;
}




}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media  screen and (min-width: 600px){
.imgTitulo {
        width: 50%;
        height: auto;
    }

    /* --------HOME-------- */
    #home {
        background-color: rgb(71, 17, 118);
        width: 100%;
    }

    .imgHome {
        top: 0%
    }
    .checklist-servicio {
        width: 100vw;
        height:auto;
        margin: 0;     
    }

    .service {
        position: relative;
        font-size: .9rem;
        max-width: 220px;
        padding: 10px;
        top: 250px;
    }

    /* ----------------PRODUCTOS------------ */
    .h2productos {
        font-size: 1.5rem;
        left: 5%;
        text-align: center;
        justify-content: center;
        letter-spacing: 20px;
    }

    .divProduct .productos {
        left: 0;
    }

    .divProduct {
        grid-template-columns: repeat(auto-fill, 170px);
        top: 110px
    }

    .divProduct .productos {
        text-align: center;
        margin: 10px;
        cursor: pointer;
    }

    .divProduct .productos .poster {
        height: 100px;
        width: 80%;
    }

    .divProduct .productos .titulo {
        font-size: .8rem;
        font-weight: 300;
    }

    .divProduct .productos .price {
        font-size: 1.1rem;
        font-weight: 600;
        transition: 1s;
        margin-top: -17%;
    }

    .paginacion {
        margin-top: 15%;
        left: 40%;
    }
/* ----------------ABOUT-------------------- */
    .aboutH2 {
        font-size: 1.5rem;
        letter-spacing: 20px;
    }

    .sectionDiv2 {
        height: 60vh;
        width: 100vw;
        display: grid;
        grid-template-columns: repeat(auto-fill, 300px);
        gap: 0px;
        margin-top: 100px
    }

    .aboutSer {
        max-width: 300px;
        margin: 0;
        font-size: .75rem;
    }
/* --------------PROMOCIONES--------------- */
    .promoH2 {
        font-size: 1.5rem;
        left: 0%;
        text-align: center;
        justify-content: center;
        letter-spacing: 20px;
    }

    .carousel {
        left: 0%;
        margin: auto;
    }

    .imgCarousel {
        width: 70%;
        height: 350px;
        border-radius: 10%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
.imgTitulo {
        width: 50%;
        height: auto;
    }

    /* --------HOME-------- */
    #home {
        background-color: rgb(37, 224, 99);
        width: 100%;
    }

    .imgHome {
        top: 0%
    }

    .checklist-servicio {
        width: 100vw;
        height: auto;
        margin: 0;
        display: flex;
        justify-content: space-around;
    }
    
    .service {
        position: relative;
        font-size: .9rem;
        max-width: 220px;
        padding: 10px;
        top: 200px;
    }

    /* ----------------PRODUCTOS------------ */
    .h2productos {
        font-size: 1.5rem;
        left: 5%;
        text-align: center;
        justify-content: center;
        letter-spacing: 20px;
    }
        .h2productos:before,
        .h2productos:after {
           left: 25%;
            }

    .divProduct .productos {
        left: 0;
    }

    .divProduct {
        grid-template-columns: repeat(auto-fill, 180px);
        top: 110px
    }

    .divProduct .productos {
        text-align: center;
        margin: 10px;
        cursor: pointer;
    }

    .divProduct .productos .poster {
        height: 100px;
        width: 80%;
    }

    .divProduct .productos .titulo {
        font-size: 1rem;
        font-weight: 300;
    }

    .divProduct .productos .price {
        font-size: 1.3rem;
        font-weight: 600;
        transition: 1s;
        margin-top: -17%;
    }

    .paginacion {
        margin-top: 15%;
        left: 40%;
    }

    /* ----------------ABOUT-------------------- */
    .aboutH2 {
        font-size: 1.5rem;
        letter-spacing: 20px;
    }

    .sectionDiv2 {
        height: 60vh;
        width: 100vw;
        display: grid;
        grid-template-columns: repeat(auto-fill, 300px);
        gap: 0px;
        margin-top: 100px
    }

    .aboutSer {
        max-width: 300px;
        margin: 0;
        font-size: .9rem;
    }

    /* --------------PROMOCIONES--------------- */
    .promoH2 {
        font-size: 1.5rem;
        left: 0%;
        text-align: center;
        justify-content: center;
        letter-spacing: 20px;
    }

    .carousel {
        left: 0%;
        margin: auto;
    }

    .imgCarousel {
        width: 70%;
        height: 350px;
        border-radius: 10%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px), screen and (max-width:1199) {
    .imgTitulo {
            width: 50%;
            height: auto;
        }
    
        /* --------HOME-------- */
        #home {
            background-color: rgb(224, 37, 155);
            width: 100%;
        }
    
        .imgHome {
            top: -10%
        }
    
        .checklist-servicio {
            width: 100vw;
            height: auto;
            margin: 0;
            display: flex;
            justify-content: space-around;
        }
    
        .service {
            position: relative;
            font-size: .9rem;
            max-width: 220px;
            padding: 10px;
            top: 150px;
        }
    
        /* ----------------PRODUCTOS------------ */
        .h2productos {
            font-size: 1.5rem;
            left: 5%;
            text-align: center;
            justify-content: center;
            letter-spacing: 20px;
        }
    
        .h2productos:before,
        .h2productos:after {
            left: 25%;
        }
    
        .divProduct .productos {
            left: 50%;
        }
    
        .divProduct {
            grid-template-columns: repeat(auto-fill, 180px);
            top: 110px
        }
    
        .divProduct .productos {
            text-align: center;
            margin: 10px;
            cursor: pointer;
        }
    
        .divProduct .productos .poster {
            height: 200px;
            width: 100%;
        }
    
        .divProduct .productos .titulo {
            font-size: 1.2rem;
            font-weight: 300;
        }
    
        .divProduct .productos .price {
            font-size: 1.4rem;
            font-weight: 600;
            transition: 1s;
            margin-top: -17%;
        }
    
        .paginacion {
            margin-top: 10%;
            left: 40%;
        }
    
        /* ----------------ABOUT-------------------- */
        .aboutH2 {
            font-size: 1.5rem;
            letter-spacing: 20px;
        }
    
        .sectionDiv2 {
            height: 60vh;
            width: 100vw;
            display: grid;
            grid-template-columns: repeat(auto-fill, 300px);
            gap: 0px;
            margin-top: 200px
        }
    
        .aboutSer {
            max-width: 300px;
            margin: 0;
            font-size: 1.1rem;
        }
    
        /* --------------PROMOCIONES--------------- */
        .promoH2 {
            font-size: 1.5rem;
            left: 0%;
            text-align: center;
            justify-content: center;
            letter-spacing: 20px;
        }
    
        .carousel {
            left: 0%;
            margin: auto;
        }
    
        .imgCarousel {
            width: 90%;
            height: 350px;
            border-radius: 10%;
        }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  #home{
    background-color: #1000bf;
  } 
} 





